
.App {
    color: white;
    padding: .8rem;
    text-align: center;
    background-color: rgb(121, 57, 181);
    border-radius: 3.5em;
    
  }

.conversionBox{
   margin: .2em;
   padding: 1em;
   border-radius: 1em;

}

body {
    margin: 2em;
    padding: 2em;
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 50vh;
    background:url(/public/backgroundimg.jpg) ;
    background-size: cover;
    
    

}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    
}


h1, h2, h3 {
    color: white;
    text-align: center;
    text-transform: lowercase ;
    font-size: xx-large;
    font-weight:bolder
}


Button{
    margin: .2em ;
    border-radius: 1em ;
    border-color: transparent;
    width: 130px;
    padding: .5em;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(61, 5, 74);
    text-transform: lowercase ;

    
}
Button:hover{

    color: white;
    font-weight: bold;
    background-color: rgb(61, 5, 74);
}

Button:focus {
    color: white;
    font-weight: bold;
    background-color: rgb(247, 31, 31);
}

input{
    color: rgb(61, 5, 74);
    width: fit-content;
    padding: .5em;
    background-color:white;
    border: none;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    
}

select{
    padding: .8rem;
    margin-left: 2em;
    text-align: center;
    text-overflow:ellipsis;
    background-color:white ;
    border: none;
    border-radius: 1rem;
    width: 10rem;
    font-weight: bolder;
    font-size: x-large;
    color:rgb(61, 5, 74);
   
   
}





@media screen and (max-width: 40rem){
    body{
        background: rgb(121, 57, 181);
        margin: .07rem;
        padding: .07rem;
    }
    .App {
      
        padding: .2rem;
        text-align: center;
        background-color: rgb(121, 57, 181);
        border-radius: 3.5em;
      }
      .conversionBox{
        margin: .2rem;
        padding: .5rem;
        border: none;
     
     }
     input{
        text-align: end;
        font-size: 1.2rem;
        width: fit-content;
        text-align: center;
     }

}
