
body {
    margin: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: hidden;
    background-image: url("../src/image/vecteezy_book-with-green-board-background_3395223.jpg");
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    
}


h2 {
    color: black;
    text-align: center;
}
h3 {
    font-size: xx-large;
    font-weight: bolder;
    color: black;
}

Button{
    margin: .2em ;
    border-radius: 1em ;
    width: 100px;
    padding: .5em;
    
}
Button:hover{

    color: white;
    font-weight: bold;
    background-color: rgb(7, 65, 7);
}

Button:active {
    color: white;
    font-weight: bold;
    background-color: rgb(7, 65, 7);
}

input{
    width: auto;
    padding: .5em;
    margin-right: .6em;
    margin-left: 1.5em;
    background-color: transparent;
    border: none;
    border-bottom: solid .3px rgb(213, 213, 213);
    border-width: auto;
    font-display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    
}

select{
    padding: 1.5em;
    background-color: transparent;
    border: none;
    border-radius: 1.5em;
    width: auto;
    font-weight: bolder;
    font-size: medium;
    color: black ;
}



.App {
    padding: 2em;
    text-align: flex-start;
    border: solid 1px;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 1.5em;
  }

.conversionBox{
   margin: 1em;
   padding: 1em;
   border-radius: 3em;

}